.articles-container{
    display: flex;
    flex-direction: column;
    background-color: #004aad;
    color: white;
    align-items: center;
    width: 97vw;
    margin: auto;
    margin-top: 1rem;
}