/*Ballot.tsx*/
.ballot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: rgb(255, 237, 216);
    margin-left: 1.5vw;

    h3 {
        margin: 0.5rem;
        padding: 0.5rem 0rem;
        color: rgb(47, 47, 47);
        font-size: 1.5rem;
        background-color: rgb(232, 199, 158);
        background-size: cover;
        width: 100%;
        text-align: center;
    }
}

.candidates{
    text-align: left;
    padding: 0rem 1rem;
    width: 80%;
}

/*Info.tsx*/
.info-container {
    display: flex;
    flex-direction: row;
}

/*Review.tsx*/
.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    margin-right: 1.5vw;
}

.review-container h1 {
    margin: 0.5rem;
    padding: 0.5rem 0rem;
    color: black;
    font-size: 2.5rem;
}

.review-container img {
    width: 90%;
    height: auto;
    margin-bottom: 2vw;
}

.review-container p {
    color: black;
    margin: 2vw 2.5vw 2vw 2.5vw;
}

@media screen and (max-width: 800px) {
    .info-container {
        flex-direction: column;
    }

    .ballot-container, .review-container {
        width: 100%;
        margin: 0;
    }

    .review-container img {
        width: 100%;
        margin-top: 1rem;
    }
}